.social_slider {
  position: fixed;
  left: -370px;
  top: 120px;
  z-index: 99997;
}

/*----- Icons -----*/

.social_slider .facebook_icon {
  float: right;
  height: 115px;
  width: 33px;
  background: url("../images/fb2.png") no-repeat;
  cursor: pointer;
  position: absolute;
  z-index: 99998;
  display: block;
  top: 50px;
  right: -32px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.social_slider .facebook_icon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 99999;
}

.social_slider .twitter_icon {
  float: right;
  height: 115px;
  width: 33px;
  background: url("../images/tw2.png") no-repeat;
  cursor: pointer;
  position: absolute;
  z-index: 99998;
  display: block;
  top: 170px;
  right: -32px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.social_slider .twitter_icon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 99999;
}

.social_slider .facebook_box {
  border: 10px solid #3289d9;
}

.social_slider .twitter_box {
  border: 10px solid #27a4d9;
}